{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.post.label }}<br>
            {{ form.post(id='textarea',cols=32,maxlength='140',rows=4,class='textarea maxwidth',placeholder='Write') }}<br>
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
    		<span id="count"></span>            
        </p>
        <p>{{ form.submit(class='button is-link') }}</p>
    </form>
    {% endif %}
    <table class="table-content">
    <tr>
        <td>-</td>
        <td>User</td>
        <td>Text</td>
    </tr>
    {% for post in posts %}
    {% include '_post.html' %}
    {% endfor %}
    </table>
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}
